name: Build APK

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install buildozer cython==0.29.33 gitpython

      - name: Install system dependencies
        run: |
          sudo apt-get update
          # Bu yerda libncurses5 o'rniga libncurses6 va boshqa kerakli paketlar qo'shildi
          sudo apt-get install -y libsqlite3-dev sqlite3 bsdmainutils build-essential \
            libffi-dev libssl-dev python3-dev zip unzip libtool autoconf automake \
            libncurses6 libncursesw6 zlib1g-dev openjdk-17-jdk ant ccache

      - name: Build with Buildozer
        run: |
          if [ ! -f buildozer.spec ]; then
            buildozer init
          fi
          # Buildozer android debugni boshlaydi
          buildozer -v android debug

      - name: Upload APK
        uses: actions/upload-artifact@v4
        with:
          name: pubg-injector-app
          path: bin/*.apk
