name: Build APK

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'

      - name: Install system dependencies
        run: |
          sudo apt-get update
          # BU YERDA GIT VA KERAKLI HAMMA NARSA BOR
          sudo apt-get install -y \
            git \
            build-essential \
            libffi-dev \
            libssl-dev \
            libtool \
            autoconf \
            automake \
            libncurses6 \
            libncursesw6 \
            openjdk-17-jdk \
            unzip \
            zip \
            ccache \
            pkg-config \
            python3-dev

      - name: Install Python dependencies
        run: |
          python -m pip install --upgrade pip
          pip install buildozer cython==0.29.33 gitpython

      - name: Build with Buildozer
        run: |
          if [ ! -f buildozer.spec ]; then
            buildozer init
          fi
          # Buildozer endi git-ni topadi
          buildozer -v android debug
        env:
          PATH: $PATH:$HOME/.local/bin

      - name: Upload APK
        uses: actions/upload-artifact@v4
        with:
          name: pubg-injector-app
          path: bin/*.apk
