name: Build APK FINAL FIXED

on:
  push:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install System Dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y git build-essential libffi-dev libssl-dev libtool autoconf automake libncurses6 libncursesw6 openjdk-17-jdk unzip zip ccache pkg-config python3-dev libgmp-dev libmpfr-dev libmpc-dev
          
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'

      - name: Install Python Packages
        run: |
          pip install --upgrade pip
          pip install buildozer cython==0.29.33 flask

      - name: Build with Buildozer
        run: |
          # Buildozer o'zi hamma narsani yuklab olishi uchun eski keshni tozalaymiz
          rm -rf .buildozer
          buildozer -v android debug
